.header__container_logo {
    display: flex;
    align-items: center;
}
.header__container_logo_texto {
    color: var(--azul--100);
    font-family: var(--raleway);
    font-weight: bold;
    font-size: 1rem;
}
.header__container_logo_texto_gris {
    color: var(--petro--100);
}