.banner {
    width: 100%;
    height: 12rem;
    padding: 1rem;
    background-image: url(/assets/imagenes/background-banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
