body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
html, body {
    width: 100% !important;
    overflow-x: hidden !important;
}
.titulo {
    font-family: var(--raleway);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--petro--100);
    margin-bottom: 0.7rem;
}
.titulo-azul {
    color: var(--azul--100);
    margin-bottom: 0;
    margin-left: 0.4rem;
}
.titulo-gris {
    color: var(--petro--100);
    margin-bottom: 0;
}
.titulo-blanco {
    color: var(--blanco--100);

}
.parrafo {
    color: var(--petro--100);
    font-family: var(--raleway);
    font-weight: normal;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}
.parrafo-blanco {
    color: var(--blanco--100);
}
.enlace-azul {
    color: var(--azul--100);
    font-weight: bold;
    text-decoration: none;
}
:root {
    /* - Fuente color  */
    --azul--100:#2A7AE4;
    --petro--100: #464646;
    --blanco--100: #FFFFFF;
    /* Color background*/
    --azulbkgfoot--100: #EAF2FD;

    /* FUENTE FAMILIA */
    --raleway: 'Raleway', sans-serif;
}